#page1 {
     height: 95vh;
     width: 98vw;
     overflow: hidden;
     display: flex;
     background: linear-gradient(70deg, rgb(44, 3, 91)0%, rgb(36, 25, 70), rgba(37, 18, 42, 0.8) 100%);
     border: 2px solid black;
     position: relative;
     backdrop-filter: blur(10px);
}

#wallpapertab {
     display: block;
     height: 100%;
     width: 55%;

}

#logotab {
     margin-right: 20px;
     height: 100%;
     width: 50%;

}

#logo {

     animation: float 2s alternate 3s infinite;
     height: 50%;
     width: 100%;
     object-fit: contain;
     border-bottom: 0.5px solid rgb(192, 170, 232);

}

.TABS {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: antiquewhite;
     Background: rgba(255, 255, 255, 0.08);
     Border: 1px solid rgba(255, 255, 255, 0.15);
     animation: shiny-border 0.5s alternate infinite;
     Border-radius: 10px;
     backdrop-filter: blur(10px);
     text-align: center;
     justify-content: center;
     height: 70px;
     width: 150px;
}

.TABS:hover {
     color: rgb(146, 133, 180);
     background: (rgba(255, 255, 255, 0.15));
     box-shadow: 0 4px 25px rgb(192, 170, 232);
     height: 100px;
     width: 190px;
}

#TABS {
     display: flex;
     flex-direction: column;

     align-items: center;

}

@keyframes float {
     from {
          transform: translate(0px, 10px);
     }
}



@-webkit-keyframes float {
     from {
          transform: translate(0px, 10px);
     }
}

@keyframes shiny-border {
     from {
          border-top: 1px solid rgb(89, 10, 185);
          border-left: 1px solid rgb(172, 78, 191);
     }

     to {
          border-bottom: 1px solid rgb(208, 0, 255);
          border-right: 1px solid rgb(31, 22, 42);
     }

}

#contactspage {
     height: 60vh;
     width: 100vw;
     background-color: beige;
}

@keyframes wallpaper-slide {
     0% {}
}

#shopicon {
     height: 30px;
     width: 30px;
     object-fit: contain;
}

.whatsapp_float {

     width: 20%;
     height: 40%;
     display: flex;
     justify-content: end;
     align-items: end;
     border-radius: 50%;
     transition: all 0.3s ease;
}

.whatsapp_float:hover {

     transform: scale(1.5);

}

.whatsapp_float img {
     width: 30%;
     height: 30%;
}

.whatsapp_float i {
     color: white;
     font-size: 30px;
}

whatsapp-btn {
     position: fixed;
     bottom: 20px;
     right: 20px;
     z-index: 9999;
}

@keyframes vibrate {
     from {}
}